/* @tailwind utilities; */

/* .container {
  @apply max-w-4xl mx-auto px-4 md:px-6 lg:px-8 py-2 md:py-4 lg:py-6;
} */

.container {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
