.container {
  display: inline-flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text {
  font-weight: 500;
  font-style: italic;
  padding-right: 4px;
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: block;
  }

  .text {
    padding-right: 0;
    font-size: 0.8rem;
  }
}
